.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
.venv/
outputs/
notebooks/.ipynb_checkpoints/
.vscode/


# local lectures
HUGGINGFACE_LLM_COURSE_GUIDE.md
project.pdf

# final paper
paper/
